body {
    background: linear-gradient(0deg, rgba(96,96,96,1) 0%, rgba(18,18,18,1) 100%);
    height: 100vh;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 {
    width: auto;
    display: flex;
    text-align: center;
    position: absolute;
    z-index: 2;
    color: #F2F2F2;
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 64px;
}

.headerTriangle {
    width: 1024px;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.headerLogo {
    width: 256px;
    height: 256px;
    display: flex;
    align-self: flex-end;
    position: absolute;
    z-index: 1;
}