body {
    background: #353132;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f47320 0%, #303030 50%, #231f20 85%, #e35120 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f47320 0%, #303030 15%, #231f20 85%, #e35120 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    width: auto;
    text-align: center;
    color: #F2F2F2;
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 64px;
}

h2 {
    width: auto;
    text-align: center;
    vertical-align: middle;
    color: #F2F2F2;
    font-family: 'Barlow';
    font-weight: lighter;
    font-size: 42px;
}

.headerLogo {
    width: 256px;
    height: 256px;
}

.logoName {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}